<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>
        Panel |
        {% block title%}

        {%endblock%}
    </title>
</head>
<body>

<div>
    <aside>
        <ul>
            <li>
                <a href="{% url 'panel_products' %}" >
                    Productos
                </a>
            </li>
    
            <li>
                <a href="{% url 'panel_categorys' %}">
                    Categorias
                </a>            
            </li>
    
            <li>
                <a href="{% url 'panel_sales' %}">
                    Ventas
                </a>
            </li>
        </ul>
    </aside>
    
    <div>
    <h1>Panel de administracion</h1>
        {% block contend%}
        
        {%endblock%}
    </div>
</div>

<footer>BGPerfum</footer>
</body>
</html>
<br>
<br>
<button>
    {% if product.avaliable == True%}
        {{'Comprar Ahora'}}
    {%else%}
        {{'Producto No disponible'}}
    {%endif%}
</button>