{% extends 'panel/base.html'%}


{%block title%}
Categorias
{%endblock%}

{%block contend%}
<div class="flex justify-center items-center">
    
    <div class="h-80">
        <a href="{% url 'panel_create_category' %}" class="bg-blue-600 px-4 py-2 text-white hover:text-blue-700 my-4">Agregar Categoria</a>

        {%for category in categorys%}
            <a href="" class="flex my-4 bg-red-600">
                <h2 class="">{{category.name}}</h2>
            </a>
        {%endfor%}
    </div>
</div>
{%endblock%}

<!-- <div class="border-2 w-full">
    <h3 class="inline-block mr-4"><b>{{category.name}}</b></h3>
    <a href="modify/{{category.id}}/">Modificar</a>
</div> -->