{% extends 'panel/base.html'%}

{%block title%}
Inicio
{%endblock%}

{%block contend%}
<main class="h-screen">
    <section class=''>
        <h2 class="text-center">Panel de administracion</h2>
    </section>
    
    <section class="block">
        <div class="text-center">
            Ventas recientes
        </div>
    
        <div class="text-center">
            Productos recien agregados
        </div>
    
        <div class="text-center">
            Campañas recien enviadas
        </div>
    
    </section>
</main>
{%endblock%}