{% extends 'panel/base.html'%}

{%block title%}
Productos
{%endblock%}

{%block contend%}
<div>
    <ul class="my-4">
        <li>
            <a href="{% url 'panel_create_product' %}" class="bg-blue-600 px-4 py-2 text-white">Agregar Producto</a>
        </li>
    </ul>

    <section class="flex flex-wrap">
        {% for product in products%}
        <a href="/panel/product/{{product.id}}/" class="md:w-2/4">
            <div class="my-4 mx-4 py-2">
                <div class="md:my-4 w-full">
                    {% if product.avaliable == 1%}
                        <h2 class="bg-green-500 px-4 py-2 text-white rounded">Disponible</h2>
                    {%else%}
                        <h2 class="bg-orange-500 px-4 py-2 text-white rounded">Agotado</h2>
                    {%endif%}
                </div>

                <div class="">
                    <img src=" ../../{{product.image}} " alt="BGPERFUM_product" class="w-full h-80 object-contain">
                </div>

                <div>
                    <h3> <b>{{product.name}}</b> </h3>
                    <p>{{product.description}}</p>
                    <p>Cantidad Disponible: {{product.stock}}</p>
                    <h4>{{product.price}}$</h4>            
                    <p>{{product.category}}</p>
                </div>
            </div>
        </a>
        {%endfor%}
    </section>
</div>
{%endblock%}