{% extends "panel/base.html" %}

{% block title %}
{{product.name}}
{% endblock title %}

{% block contend %}

<div class="ml-4 my-4">
    <a href="{% url 'panel_products' %}" class="bg-red-600 px-4 py-2 text-white" >Cancelar</a>
</div>
<div class="flex flex-wrap justify-center items-center">
    
    <div class="md:w-2/4 md:mx-4">
        <img src="../../../{{product.image}}" alt="{{product.name}}_img" class="object-contain">
    </div>
    
    <div>
    
        <div class="md:mx-2">
            <form method="post" enctype="multipart/form-data" action="/panel/edit/{{product.id}}/">
                {% csrf_token %}
                {{form}}
                <button type="submit">Guardar</button>
            </form>
        </div>
    </div>
</div>
{% endblock contend %}