<footer class="px-4 py-4 w-full px-2 text-black grid grid-cols-3">

    <div>
        <img src="" alt="bg-perfum_logo">
    </div>

    <div>
        <ul>
            <li>
                <a href="">Quienes Somos</a>
            </li>

            <li><a href="">Perfumes</a></li>

            <li><a href="">Marcas</a></li>

            <li><a href="">Contactanos</a></li>
        </ul>
    </div>

    <div>
        <h2>!Suscríbete y mantente al dia!</h2>
        <p class="text-[12px]">Suscríbete para tener acceso a ofertas especiales, descuentos y regalos. ¡Con tu suscripción obtendrás un 10% de descuento en la totalidad de tu primera compra!</p>

        <form action="" class="my-2">
            <input type="email" name="" id="" placeholder="Introduce tu correo" class="border-b-[2px] border-black outline-none">
        </form>
    </div>
</footer>
</body>

</html>