<section class="flex h-screen">

    <aside class="w-80 border-black border-r-[1px]">
        <h3 class="text-center my-2 py-2">Filtrar por categorias</h3>
        
        <ul>
            {% for category in categorys %}
                <li class='mx-4 my-2' >
                    <a href="{{category.id}}">{{category.name}}</a>
                </li>
            {% endfor %}
        </ul>
    </aside>
    
    
    <section class="mx-4 w-screen">
        <h2 class="text-center my-4 md:text-2xl">Productos</h2>
    
        <div class="grid grid-cols-4 gap-x-4 gap-y-8">
            {% for product in products %}
                <a href="{{product.id}}/">
                    <img src="../{{product.image}}" alt="product_image" class="rounded-md">
                    <h2 class="text-[14px]">{{product.name}}</h2>
                    <h3 class="text-[12px]">{{product.price}}</h3>
                </a>
            {% endfor %}
        </div>
    </section>
    
    </section>