{% include "shop/includes/header.html" %}

    <header class="text-[#FFFCF5]">
        <nav>
            <ul class="flex justify-between items-center bg-[#374375] py-4">

                <img src="" alt="bg_perfum_logo" class="ml-4">

                <div class="mr-4">
                    <li class="inline-block">
                        <a href="">Perfumes</a>
                    </li>

                    <li class="inline-block">
                        <a href="" class="">Quienes Somos</a>
                    </li>
                </div>
            </ul>
        </nav>
    </header>


    {% block contend %}

    {% endblock contend %}

    {% include "shop/includes/footer.html" %}