{% extends "shop/base.html" %}

{% block title %}
Inicio
{% endblock title %}

{% block contend %}
<h2 class='bg-black text-center text-sm text-white py-2'>PRODUCTOS 100% ORIGINALES</h2>
<main class="mb-4 text-[#FFFCF5]">
    <div class="flex justify-center items-center mt-4 mx-2 mb-4">
        
        <div class="w-2/4 mr-4">
            <h1 class="sm:text-4xl md:text-8xl text-black">BG <i>PERFUM</i></h1>
            <p class="rounded text-gray-900 mt-4 md:text-2xl">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Cumque ipsam sed architecto facere, velit impedit alias
                accusamus incidunt quo corporis tenetur molestias itaque? Pariatur officiis repellendus suscipit
                voluptatibus
                commodi quaerat.</p>

            <div class="my-8">
                <a href="" class="border-b-2 border-black text-black text-xl py-2">Quiero escoger mi fragancia</a>
            </div>
        </div>
        
        <div class="w-[300px] flex justify-center px-2">
            <img src="../../static/src/bottle-perfume_979408-1152.jpg" alt="" class="object-contain rounded">
        </div>
    </div>

    <section class="rounded-md mx-8 py-4">   
        <h2 class="text-black text-2xl md:text-4xl text-center">Algunos Perfumes</h2>
        <div class="grid grid-cols-4 gap-4 place-items-center mx-6 my-4">
            {% for perfum in perfums%}
            <a href="/product/{{perfum.id}}" class='text-black'>
                <img src=" {{perfum.image}} " alt="" class="md:w-[300px] md:h-[250px] object-contain">
                <h4 class='text-sm'>{{perfum.name}}</h4>
                <h5 class=''> {{perfum.price}} </h5>
            </a>
            {%endfor%}
        </div>
        <div class="flex justify-center text-sm md:text-2xl text-gray-800">
            <a href="{% url 'products' %}" class="border-b-2 border-gray-800 hover:border-black hover:text-black">Quiero Ver Mas</a>
        </div>
    </section>

    <section class="text-black grid grid-cols-2 gap-4 my-8 mx-8">

        <div>
            <img src="../../static/src/bottle-perfume_979408-1152.jpg" alt="bgperfum_img" class='place-self-center rounded-md'>
        </div>

        <div class='place-self-center text-2xl'>
            <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h2>
        </div>

        <div class='place-self-center text-2xl'>
            <h2 class=''>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h2>
        </div>

        <div>
            <img src="../../static/src/bottle-perfume_979408-1152.jpg" alt="" class='place-self-center rounded-md'>
        </div>
    </section>

    <section class="text-[#374375]">
        
        <h2 class="text-center">Algunas de las marcas con las que trabajamos</h2>

        <ul class="grid grid-cols-2 place-items-center">
            <li>
                <img src="" alt="brand">
            </li>

            <li>
                <img src="" alt="brand">
            </li>

            <li>
                <img src="" alt="brand">
            </li>

            <li>
                <img src="" alt="brand">
            </li>
        </ul>
    </section>

    <section class="rounded-md text-center bg-gray-100 py-24 my-4">
        <h2 class="text-xl md:text-2xl text-black">Suscribete y obten descuentos</h2>
        <p class="text-black">
            Suscríbete para tener acceso a ofertas especiales, descuentos y regalos. ¡Con tu suscripción obtendrás un 10% de descuento en la totalidad de tu primera compra!
        </p>
        <form action="" class="my-2 flex justify-center items-center">
            <input type="email" name="" id="" placeholder="Introduce tu correo" class="bg-inherit border-black border-b-2 outline-none text-black w-[400px] text-xl">
            <button type="submit" class="text-black border-black border-b-2 outline-none">
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z"/>
              </svg></button>
        </form>
    </section>
</main>
{% endblock contend %}