{% extends "shop/base.html" %}

{% block title %}
Inicio
{% endblock title %}

{% block contend %}
<main class="mb-4 text-[#FFFCF5]">
    <div class="flex items-center mt-4 mx-2 mb-4">
        <div class="w-2/4 mr-4">
            <h1 class="text-2xl sm:text-4xl md:text-6xl text-[#374375]">BG <i>PERFUM</i></h1>
            <p class="rounded text-[#374375] px-4 py-2 mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Cumque ipsam sed architecto facere, velit impedit alias
                accusamus incidunt quo corporis tenetur molestias itaque? Pariatur officiis repellendus suscipit
                voluptatibus
                commodi quaerat.</p>
        </div>
        <img src="../../static/original-9cfc0f25a37d68687c7c9283804b8f5b.png" alt="" class="w-2/4 rounded">
    </div>

    <section class="bg-[#BABDE2] mx-8 py-4">   
        <h2 class="text-2xl md:text-4xl text-center">Algunos Perfumes</h2>
        <div class="grid grid-cols-4 gap-4 place-items-center mx-6 my-4">
            {% for perfum in perfums%}
            <div>
                <img src="{{perfum.image}}" alt="">
                <h4>{{perfum.name}}</h4>
            </div>
            {%endfor%}
        </div>
        <div class="flex justify-center text-xl md:text-2xl">
            <a href="">Quiero Ver Mas</a>
        </div>
    </section>

    <section class="text-[#374375] grid grid-cols-2 gap-4 my-8 mx-8">
        <div>
            <img src="../../static/original-9cfc0f25a37d68687c7c9283804b8f5b.png" alt="bgperfum_img">
        </div>

        <div>
            <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h2>
        </div>

        <div>
            <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h2>
        </div>

        <div>
            <img src="../../static/original-9cfc0f25a37d68687c7c9283804b8f5b.png" alt="">
        </div>
    </section>

    <section class="text-[#374375]">
        
        <h2 class="text-center">Algunas de las marcas con las que trabajamos</h2>

        <ul class="grid grid-cols-2 place-items-center">
            <li>
                <img src="" alt="brand">
            </li>

            <li>
                <img src="" alt="brand">
            </li>

            <li>
                <img src="" alt="brand">
            </li>

            <li>
                <img src="" alt="brand">
            </li>
        </ul>
    </section>

    <section class="text-center bg-[#BABDE2] mx-8 my-8 py-12">
        <h2 class="text-2xl md:text-4xl">Quienes Somos?</h2>
        <p class="my-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </section>
</main>
{% endblock contend %}